  

<div class="divCard1 container card mt-5">
    <div class="row form-group align-self-center mt-3">
        <h6 class="text-success">Deseja realizar o cadastro como</h6>
    </div> 

    <div class="row form-group align-self-center">            
        <a routerLink = "/cadastroUsuario" class="botaoCadastro btn btn-primary d-block m-3" >Usuário</a>            
        <a routerLink = "/cadastroHospital" class="botaoCadastro btn btn-primary d-block m-3" >Hospital Parceiro</a>
    </div>
</div>

