<div class="">
    <ul class="listaMenu1 d-inline navbar-nav btn-group ">
        <li class="nav-item btn btn-success "><a routerLink="{{mtControleReserva()}}" class="textolinkMenu1 nav-link" href="">Reserva de leitos</a></li>
        <li class="nav-item btn btn-success"><a routerLink="consultarLeitos" class="textolinkMenu1  nav-link" href="">Consulta de leitos</a></li>
        <li class="nav-item btn btn-success"><a class="textolinkMenu1  nav-link" href="#">Planos de saúde</a></li>
        <li class="nav-item btn btn-success"><a class="textolinkMenu1  nav-link" href="#">Área do usuário</a></li>
        
    </ul>

</div>

