<div class="">
        <form action="" class=" form-inline">
            <input type="text" class=" form-control m-2 " placeholder="Usuário">
            <input type="text" class=" form-control m-2 " placeholder="Senha">
            <button class="btn btn-success ml-2 ">Entrar</button>
        </form>
</div>

<div class="justify-content-end">
    <a  routerLink="{{mtControleCadastro()}}" routerLinkActive="mat-accent" class="nav-link d-inline-block" href="">Cadastre-se</a>
    <a class="nav-link d-inline-block" href="redefinirSenha.html">Esqueci minha senha</a>    
</div>
