<main>
    <section>
        <div class="container w-100 mt-5">
            <div class="row  d-flex bg-success align-self-center ">
                <h3 class="text-white">efetuar login</h3>
            </div>
        </div>

        <div class="divCard1 container card mt-5">
            <div class="row form-group align-self-center mt-3">
                <h6 class="text-success">Acesse o sistema inserindo seu usuário e senha</h6>
            </div> 
    
            <div class=" row form-group align-self-center">            
                <input type="text" class="form-login form-control" id="usuarioLogin" placeholder="Digite seu usuário">            
            </div>
            <div class=" row form-group align-self-center">            
                <input type="text" class="form-login form-control" id="senhaLogin" placeholder="Digite sua senha">            
            </div>
            <div class="row align-self-center">        
                <button class="botaoCadastro btn btn-primary d-block mb-3"  type="button">Entrar</button>
            </div>
            <div class="row align-self-center">        
                <a href="redefinirSenha.html">Esqueci minha senha</a>
            </div>
            <div class="row align-self-center">       
                <p class="texto1Telalogin text-secondary">Ainda não tem cadastro?</p>                
                <a class="text-primary" href="cadastro.html"> Clique aqui</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </section>
    </main>
    
