<main>
    <section>
        <div class="container w-100 mt-5">
            <div class="row border d-flex bg-success align-self-center ">
                <h3 class="text-white">quem somos</h3>
            </div>
        </div>
        <div class="divCard1 container card mt-5">
            <div class=" row align-self-center">            
                <img src="./assets/img/logo_QS.png" alt="Conslei Leitos de UTI">
            </div>

            <div class="caixaIntro row align-self-center mb-5">            
                <p class="text-justify text-success mt-3"><span class="ml-3"></span> A <strong> Conslei Leitos
                    de UTI</strong> surgiu em 2021 a partir da necessidade de se oferecer um serviço de qualidade
                    no acesso a leitos de uti em unidades hospitalares em todo o Brasil. Nosso compromisso é facilitar
                    a consulta e a reserva de leitos em <em> tempo hábil</em> aproximando hospitais e pacientes para o rápido
                    início ou continuidade do tratamento intensivo. Acreditamos que agilizando o acesso a unidades de
                    terapia intensiva evitamos <em>situações que possam agravar o quadro clínico</em> , diminuindo possíveis
                    complicações que coloquem ainda mais em risco a vida do paciente.</p>
    
            </div>

        </div>
    </section>
</main>
