<main>
    <section>
        <div class="container w-100 mt-5">
            <div class="row  d-flex bg-success align-self-center ">
                <h3 class="text-white">Trabalhe Conosco</h3>
            </div>
        </div>

        <div class="divCard1 container card mt-5">
            <div class="row align-self-center mt-3">
                <h5 class="text-success">Faça parte do nosso time de colaboladores!</h5>
            </div> 
            <div class="row align-self-center">            
                <p class="text-success ml-5">Envie o seu currículo para <strong><a class="text-success" href="mailto:recrutamento@conslei.com.br"> recrutamento@conslei.com.br</a></strong> e fique informado <br>
                sobre nossos processos seletivos.</p>
            </div>
            <div class="caixaP1 row align-self-center">                
                    <p class="text-success">Se preferir preencha o formulário abaixo anexando o seu currículo.</p>                
            </div>
            
            <div class="row form-group align-self-center mt-3">            
                <input type="text" class="form-coment form-control m-0" id="usuarioLogin" placeholder="Digite seu nome">            
            </div>
            <div class="row form-group align-self-center">            
                <input type="text" class="form-coment form-control m-0" id="usuarioLogin" placeholder="Digite seu email">            
            </div>
            <div class=" row form-group align-self-center">            
                <small class="text-secondary">Atenção: Apenas arquivos com a extensão .PDF serão aceitos</small>
            </div>
            
            <div class="caixaArquivo row form-group align-self-center">                    
                <label class="text-secondary" for="arquivo">Escolha o arquivo</label>                    
                <input type="file" class="form-control-file bg-light text-secondary" id="arquivo">            
            </div>
            
    
            <div class="row form-group align-self-center">            
                <a class="botaoCadastro btn btn-primary d-block m-3"  type="button" href="#">Enviar</a>
            </div>
        </div>

        
    </section>
</main>

