<main>
    <section>
        <div class="container w-100 mt-5">
            <div class="row  d-flex bg-success align-self-center ">
                <h3 class="text-white">contato</h3>
            </div>
        </div>
        <div class="divCard1 container card mt-5">
            <div class="row justify-content-center mt-3">
                <h5 class="text-success">Queremos saber sua opinião!</h5>
            </div>             

            <div class="caixaP1 row align-self-center">            
                <p class="text-success">Preencha os campos abaixo e envie-nos uma mensagem com dúvidas, sugestões ou reclamações. Responderemos o mais breve possível.</p>
            </div>
            <div class=" row form-group align-self-center mt-3">            
                <input type="text" class="form-coment form-control m-0" id="usuarioLogin" placeholder="Digite seu nome">            
            </div>
            <div class=" row form-group align-self-center">            
                <input type="text" class="form-coment form-control m-0" id="usuarioLogin" placeholder="Digite seu email">            
            </div>
        
            <div class="row justify-content-center">            
                <div class=" form-group">                    
                    <textarea class="caixaComentario form-control w-100" rows="5" id="comment"></textarea>
                  </div>
            </div> 

            <div class="row form-group align-self-center">            
                <a class="botaoCadastro btn btn-primary d-block m-3" type="button" href="#">Limpar formulário</a>            
                <a class="botaoCadastro btn btn-primary d-block m-3"  type="button" href="#">Enviar</a>
            </div>
        </div>
    </section>




    <!-- <section class="container" >
    <div class="divCard1 container card">
        <div class="row d-flex justify-content-center">
            <label><h2>Realizar cadastro como</h2></label>
        </div>
        <div class="row justify-content-center">        
            <a class="botaoCadastro btn btn-primary d-block m-3" type="button" href="cadastro_usuario.html">Usuário</a>        
            <a class="botaoCadastro btn btn-primary d-block m-3"  type="button" href="cadastro_hospital.html">Hospital Parceiro</a>
        </div>
    </div>
</section> -->
</main>
