<div class=" justify-content-end">                                         
    <ul class="navbar-nav flex-row">                    
        <a class="m-1 nav-link" href="http://www.facebook.com" target="_blank"><img src="./assets/img/facebook.png"  width=35px height=35px alt=""></a>
        <a class="m-1 nav-link" href="http://www.twitter.com" target="_blank"><img src="./assets/img/twitter.png"  width=35px height=35px alt=""></a>
        <a class="m-1 nav-link" href="http://www.youtube.com" target="_blank"><img src="./assets/img/youtube.png"  width=45px height=35px alt=""></a>
        <a class="m-1 nav-link" href="http://www.instagram.com" target="_blank"><img src="./assets/img/instagram.png"  width=35px height=35px alt=""></a>
    </ul>
</div>
