<main>
    <section>
    
            <div class="row border d-flex bg-success justify-content-center ">
                <h3 class="text-white">Reservar Leitos</h3>
            </div>
        <div class="divCard1 container card mt-5">
            <div class="row form-group align-self-center mt-3">
                <h6 class="text-success">Para realizar uma reserva insira o código do leito e clique em avançar</h6>
            </div> 

            <div class="form-group align-self-center mt-3">                
                <input type="text" class="text-center form-login form-control" id="codReservaLeito" placeholder="Insira o código do leito">                
            </div>
            <div class="row align-self-center m-0">        
                <button id="btnAvancar" class="botaoRedefinirSenha btn btn-primary d-block "  type="button" onclick = "getCodigoLeito()">Avançar</button>
            </div>

            <div class="form-group align-self-center mt-3">
            <p class="text-center text-secondary m-0">Não possui um código?</p>
            <p class="text-center text-secondary m-0">Obtenha-o realizando uma busca por leitos</p>
            </div>

            <div class="row align-self-center">                        
                <a href="consulta_leitos.html"class="botaoRedefinirSenha btn btn-primary d-block mb-5">Buscar Leitos</a>
            </div>
        </div>
<div class="divCard2 container card mt-5">

<div class="row m-3">
    <div class="card text-center">
        <div class="card-header">
            <div class="row justify-content-center m-0">
                <h6>Reserva de Leito</h6>            
            </div>
            <div class="d-flex row m-0">
                <p>Data:</p>            
            </div>
            <div class="d-flex row m-0">
                <p>Código da Reserva:</p>            
            </div>

        </div>
        <div class="card-body">
            <div class="divCard1 container card mt-3">
                <label for="nome">Dados da Instituição</label>
                
                <div class="row  container">
                    <div class=" col-xl-6 col-lg-7 col-md-8 col-sm-6">                    
                        <label class="labels" for="razaoSocial">Razão Social</label>
                        <input type="text" class="formResultBusca form-control " id="razaoSocial" placeholder="">                   
                    </div>
                    <div class=" col-xl-3 col-lg-5 col-md-4 col-sm-6">                    
                        <label class="labels" for="tipoDeAdm">Tipo de Estabelecimento</label>
                        <input type="text" class="formResultBusca form-control" id="bairro" placeholder="">
                    </div>
                </div>
                <div class="row  container">
                    <div class=" col-xl-6 col-lg-7 col-md-8 col-sm-6">
                        <label class="labels" for="endereco">Endereço</label>
                        <input type="text" class="formResultBusca form-control" id="endereco" placeholder="">
                    </div>
                    <div class=" col-xl-3 col-lg-5 col-md-4 col-sm-6">
                        <label class="labels" for="bairro">Bairro</label>
                        <input type="text" class="formResultBusca form-control" id="bairro" placeholder="">
                    </div>
                </div>
                <div class="row  container">
                    <div class=" col-xl-3 col-lg-4 col-md-4 col-sm-4">
                        <label class="labels" for="cep">CEP</label>
                        <input type="text" class="formResultBusca form-control" id="cep" placeholder="">
                    </div>
                    <div class=" col-xl-3 col-lg-4 col-md-4 col-sm-4">
                        <label class="labels" for="cidade">Cidade</label>
                        <input type="text" class="formResultBusca form-control" id="cidade" placeholder="">
                    </div>
                    <div class=" col-xl-2 col-lg-2 col-md-2 col-sm-4">
                        <label class="labels" for="estado">Estado</label>
                        <input type="text" class="formResultBusca form-control" id="estado" placeholder="">
                    </div>                    
                </div>
                <div class="row  container"> 
                    <div class=" col-6">
                        <label class="labels" for="telefoneFixo" class="m-0">Telefone Fixo</label>
                        <small class="form-text text-muted m-0">(DDD XXXX-XXXX)</small>
                        <input type="text" class="formResultBusca form-control" id="telefoneFixo" placeholder="">
                    </div>
                    <div class=" col-6">
                        <label class="labels" for="fax" class="m-0">Fax</label>
                        <small class="form-text text-muted m-0">(DDD XXXX-XXXX)</small>
                        <input type="text" class="mb-3 formResultBusca form-control" id="fax" placeholder="">
                    </div>
                </div>
            </div>
                <hr>          



            <label for="">Dados do Leito</label>
            <div class=" container card">
           
               <div class="row">
                   <div class=" col-4 d-flex justify-content-center">
                       <div class=" align-self-center h-75">
                           <h6>Tipo de leito</h6>
                       </div>
                   </div>
                   <div class=" col-4 d-flex justify-content-center">
                       <div class=" align-self-center h-75">
                           <h6>Total de leitos disponíveis</h6>
                       </div>
                   </div>
                   <div class=" col-4 d-flex justify-content-center">
                       <div class=" align-self-center h-75">
                           <h6>Reservas</h6>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class=" d-flex justify-content-center col-4 ">
                       <div class=" align-self-center h-50">
                           <p class=" ">Leito clínico</p>
                       </div>
                   </div>
                   <div class=" col-4 d-flex justify-content-center">
                       <div class=" align-self-center h-50">
                           <p>4</p>
                       </div>
                   </div>
                   <div class=" col-4">            
                       <div class=" align-self-center">
                           <input type="text" class="mb-3 form-control" id="leitoPediatricoDisponiveis" placeholder="Digite a quantidade">
                       </div>
                   </div>
               </div>
           
           </div>

            <h4 class="card-title mt-3">Termo de Responsabilidade</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ea totam
                minus. Maxime sed modi recusandae eveniet debitis, saepe temporibus hic vitae atque. Dolores
                molestiae rem sapiente rerum cum vero!</p>
            <a href="" class="btn btn-primary btn-block">Confirmar Reserva</a>
        </div>
        <div class="card-footer text-muted">
            Conslei Leitos de UTI <br>
            2021 - Todos os Direitos Reservados            
        </div>
    </div>
